.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.placeholder {
  padding: 32px 16px;
  color: #e8e8e8;
  font-family: 'Courier New', monospace;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
